@using ECommerce.Data
@using _5_17classwork.Models
@model IndexVM

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-3 categories">
        @if (Model.User == "Admin")
        {
            <button class="btn btn-primary" id="new-category">Add Category</button>
            <button class="btn btn-primary" id="new-product">Add Product</button>
            <br />
            <a href="/admin/signout">Sign Out</a>
        }
    </div>
    <div class="col-xs-9 products">
    </div>
</div>

<div class="modal fade" id="new-category-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Category</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Category Name" class="form-control" id="category-name" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-category" class="btn btn-primary">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="new-product-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Product</h4>
            </div>
            <form method="post" action="/admin/addproduct" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" name="image" class="form-control" />
                    <select id="category" name="categoryId" class="form-control"></select>
                    <input type="text" placeholder="Title" name="title" class="form-control" />
                    <textarea placeholder="Description" name="description" class="form-control" id="description" rows="3"></textarea>
                    <input type="text" placeholder="Price" name="price" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script src="~/Scripts/Index.js"></script>
}