
@{
    ViewBag.Title = "ShoppingCart";
}

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Item</th>
        <th>Actions</th>
    </tr>
</table>

@section scripts
{
    <script src="~/Scripts/ShoppingCart.js"></script>
}