
@{
    ViewBag.Title = "Login";
}

<div class="col-md-6 col-md-offset-3 well">
    <h2>Admin Login</h2>
    <form method="post" action="/admin/login">
        <input type="text" name="email" placeholder="Email" class="form-control" />
        <br />
        <input type="password" name="password" placeholder="Password" class="form-control" />
        <br />
        <button class="btn btn-success">Login</button>
    </form>
</div>